name: PR Build

on:
  pull_request:

jobs:
  go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout files
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Test
        run: go test ./...

      - name: Vet
        run: go vet ./...

      - name: Docs (sanity)
        env:
          VERSION: "0.0.0"
        run: make docs
